<!-- Guardar esse menu aqui e colocar para renderizar as outras paginas em uma rota em baixo do content -->
<!-- <mat-toolbar class="toolbar">
    <mat-toolbar-row>

        <div id="div-toolbar-menu">
            <a mat-button [routerLink]="'/catalogo'" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact:true}"> PRODUTOS <mat-icon aria-hidden="false" aria-label="Example offer icon">local_offer</mat-icon></a>
            <a mat-button [routerLink]="'/catalogo/servicos'" routerLinkActive="activebutton"> SERVIÇOS <mat-icon aria-hidden="false" aria-label="Example services icon">room_service</mat-icon></a>
            <a mat-button [routerLink]="'/catalogo/marcas'" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact:true}"> MARCAS <mat-icon aria-hidden="false" aria-label="Example user verified icon">verified</mat-icon></a>
            <a mat-button [routerLink]="'/create-contact'" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact:true}"> UNIDADES DE MEDIDA <mat-icon aria-hidden="false" aria-label="Example user verified icon">scale</mat-icon></a>
            <a mat-button [routerLink]="'/activities'" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact:true}"> ETIQUETAS <mat-icon  aria-hidden="false" aria-label="Example user verified icon">local_activity</mat-icon></a>
          </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="content" role="main"> SERVE PRA DAR UM ESPAÇO PARA O CONTEÚDO PRINCIPAL

    <h1>Cadastro de Produtos</h1>
    <h1>Lista de produtos</h1> -->

    <app-menu-produtos></app-menu-produtos>

    <div class="content" role="main">
    <!-- <h1>LISTA DE PRODUTOS</h1>
    <h1>CADASTRO DE PRODUTOS</h1> -->

    <mat-tab-group animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <span style="color: #000000;">Listar</span>
            <mat-icon class="example-tab-icon">list</mat-icon>
          </ng-template>
          <!-- Conteúdo Da tabela INICIO -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <!-- Conteúdo da tabela FIM -->
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <span style="color: #000000;">Conteudo2</span>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          </ng-template>
          Content 2
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <span style="color: #000000;">Conteudo3</span>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          </ng-template>
      
          Content 3
        </mat-tab>
      </mat-tab-group>