/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$gray-palette, 900);
$my-accent: mat.define-palette(mat.$gray-palette, 300);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

@include mat.all-component-themes($my-theme);